body{
    background-color: rgb(4, 53, 0);
    font-family: 'Playfair Display';
}

.page{
    padding-left:140px;
    padding-right:140px;
}

.journal{
    position:relative;
    width:100%;
    height:100%;
}
.journal p{
    font-size: 1.4vw;
    color: black;
    width:25vw;
    border-radius:2rem;
    background-color:#cad3ba;
    padding: 2rem;
    line-height:5vh;
    margin-top:2vh;
}
.pothos-ceiling img{
    transform:rotate(90deg);
    width:30%;
    position:absolute;
    top:4em;
    left:25em;
    border-radius: 2rem;
}
.pothos2 img{
    width:30%;
    position:absolute;
    top:6rem;
    left:41rem;
    border-radius:2rem;
}
.pothos-label img{
    width:15em;
    top: 22em;
    right:0;
    transform: rotate(275deg);
    position:absolute;
}
.flower5 img{
    position:absolute;
    width:10rem;
    top:0;
    right:0;
    transform: rotate(30%);
}
   
.postit{
    position: absolute;
    width:20%;
    top: 27rem;
    left: 30em;
}

/*journal 2*/
.journal2{
    position:relative;
    width:100%;
    height:100%;
}
.journal2 p{
    font-size: 1.4vw;
    color: black;
    width:25vw;
    border-radius:2rem;
    background-color:#cad3ba;
    padding: 2rem;
    line-height:5vh;
    margin-top:2vh;
    position: absolute;
    right:0;
    top:7rem;
}

.maranta{
    width: 28rem;
    position:absolute;
    top: 0;
    left:0;

}
.leaf{
    width:15rem;
    top:15em;
    left:39em;
    position:absolute;

    animation:zoom 3s infinite;
}

.maranta-sticker img{
    position:relative;
    width:20em;
    height:auto;
    top:8em;
    left:24em;
}
.arrow img{
    position: absolute;
    width:15em;
    top:16em;
    left:24em;
}
.journal3{
    position:relative;
    width:100%;
    height:100%;
}
.journal3 p{
    font-size: 1.4vw;
    color: black;
    width:35vw;
    border-radius:20px;
    background-color:#cad3ba;
    padding: 20px;
    line-height:5vh;
    margin-top:2vh;
    position: absolute;
    right:20em;
    top:12em;
}
.flower1 img{
    position: relative;
    width: 14rem;
    top:15rem;
    left:2rem;
}
.leaves img{
    position:absolute;
    right:7rem;
    height:30rem;
    bottom:0rem;
}

/*journal 4*/
.journal4{
    position:relative;
    width:100%;
    height:100%;
}
.journal4 p{
    font-size: 1.4vw;
    color: black;
    width:22vw;
    border-radius:20px;
    background-color:#cad3ba;
    padding: 20px;
    line-height:5vh;
    margin-top:2vh;
    position: absolute;
    left:0;
    top:22rem;
}
.flower4 img{
    width:15rem;
    transform: rotate(20deg);
    top:23em;
    left:20em;
    position:relative;
    animation: Shaking 2s linear infinite
}

.postit2{
    position:absolute;
    width:20em;
    transform: rotate(15deg);
    right:3em;
    top:25em;
}
.fiddle-leaf img{
    position:absolute;
    width:20rem;
    top:35em;
    left:30em;
    border-radius:2rem;
}

.leaf2 img{
    position:absolute;
    width:10em;
    bottom:45rem;
    right:18rem;
    transform:rotate(40deg);
}





/*navigation bar*/

.nav-bar{
  font-size:5rem;
  color:rgb(4, 53, 0);
}

:root {
  --color-primary: rgb(198, 222, 186);
  --color-secondary: rgb(4, 53, 0);
  --duration: 2s;
  --nav-duration: calc(var(--duration) / 4);
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-size: 1.125rem;
  --font-family: 'Playfair Display';
}

* {
  box-sizing: border-box;
}


h1 {
  margin-bottom: calc(var(--space) * 3);
  font-family: var(--font-heading);
  font-size: calc(var(--font-size) + 6vmin);
  line-height: calc(var(--line-height) / 1.25);
}

.main-navigation-toggle {
  position: fixed;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  
  + label {
    position: fixed;
    top: calc(var(--space) * 1.5);
    right: calc(var(--space) * 2);
    cursor: pointer;
    z-index: 2;
  }
}

.icon--menu-toggle {
  --size: calc(1rem + 4vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  stroke-width: 6;
}

.icon-group {
  transform: translateX(0);
  transition: transform var(--nav-duration) var(--ease);
}

.icon--menu {
  stroke: rgb(198, 222, 186);
}

.icon--close {
  stroke: rgb(4, 53, 0);
  transform: translateX(-100%);
}

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content:center;
  align-items: center;
  text-align:center;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform var(--nav-duration);
  z-index: 1;
  
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(198, 222, 186);
    transform-origin: 0 50%;
    z-index: -1;
  }
  
  ul {
    font-size: 12vmin;
    font-family: var(--font-heading);
    width: 100%;
  }
  
  li {
    --border-size: 1vmin;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--border-size);
      background-color: var(--color-secondary);
      transform-origin: 0 50%;
      transform: translateX(-100%) skew(15deg);
    }
  }
  
  a {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: var(--color-secondary);
    line-height: 1;
    user-select: none;
    padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
    transform: translateY(100%);
    font-size:5rem;
  }
}
.main-navigation a:hover {
  background-color: rgb(149, 187, 130);
  padding: 5px;
}



.main-navigation-toggle:checked {
  ~ label .icon--menu-toggle {    
    .icon-group {
      transform: translateX(100%);
    }
  }
  

  ~ .main-navigation {
    transition-duration: 1s;
    transform: translateX(0);
    
    &:after {
      animation: nav-bg var(--nav-duration) var(--ease) forwards;
    }
    
    li:after {
      animation: nav-line var(--duration) var(--ease) forwards;
    }
    
    a {
      animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
    }
}

}




.dropbtn {
    color: rgb(198, 222, 186);
    padding: 16px;
    font-size: 3rem;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    color: rgb(149, 187, 130);
  }
  
  .dropdown {
    font-family:'Playfair Display';
    position: absolute;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(198, 222, 186);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color:rgb(149, 187, 130);
    padding:5px;
}
  
  .show {display: block;}