p {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 150px;
  text-align: center;
}

body {
    background-color:rgb(198, 222, 186);
    font-family: 'Playfair Display';
    color:rgb(4, 53, 0);
  }
  
  .outer-headings{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:left;
}

.outer-headings h1{
    font-size:65px;
}
.inner-headings{
    border:0px solid #ddd;
    height:150px;
    line-height:150px;
    font-size:125px;
    text-transform:uppercase;
    overflow:hidden;
  }
  .inner-headings span{
    position: relative;
    animation:animation 5s
      ease infinite;
  }
  
  @keyframes animation{
    0%,
    100%{
      top:0;
    }
    30%{
      top:0;
    }
    35%{
      top:-150px;
    }
    65%{
      top:-150px;
    }
    70%{
      top:-300px;
    }
    90%{
      top:-300px;
    }
  }



  h2{ 
    font-size: 1.5em;
    font-weight: bold;
    text-align:center;
  }

  .emphasized { font-style: italic; }

 ul.a{
  list-style-type: circle;
  margin: 50em;
  padding-left: 50em;
 }

 li{
  text-align: center;
 }

 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
div.variation {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  display: inline-block;
  margin-left:25px;
  margin-right:15px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

div.leaf{
  width:30%;
  display: flex;   
 justify-content: center; 
 margin-left:auto;
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height:50px;
}

.rating {
  font-size: 0;
}
.rating .dot {
  display: inline-block;
  width: 20px; 
  height: 20px;
  margin-right: 5px; 
  background-color: #666666; 
  border-radius: 50%; 
}
.rating .dot.filled {
  background-color: #0b4919;
}
